
#bodystyle {
    background-color:purple;
}

#jbtImg {
    height: 100%;
    width:15em;
}

.jbtText {
    font-family: 'Times New Roman', sans-serif;
    margin:0;
 }

label {
    font-family: 'Times New Roman', sans-serif;
}

input {
    font-family: 'Times New Roman', sans-serif;
}


.jumbotron {
    padding: 0;
}

.form-inline {
    text-align: center;
}

.bgNameText {
    font-family: 'Times New Roman', sans-serif;
    font-size: 1.3em;
    background-color: #eceeef;
    border-radius: 25px;
    margin: 8px 0;
    padding:2px 0;
    color:blue (184, 111, 111)
}


.bgDevourBtn {
    font-family: 'Times New Roman', sans-serif;
    font-size: 1em;
    margin: 8px 0;
}

.rowTextHeader1 {
    font-family: 'Times New Roman', sans-serif;
    font-size: 1.5em;
    margin-left: 3em;
    text-align:center;
}

.rowTextHeader2 {
    font-family: 'Times New Roman', sans-serif;
    font-size: 1.5em;
    margin-left: 1em;
    text-align:center
}